@inject NavigationManager navigationManager


<div class="col-4 mb-2 ">
    @if (Product is not null)
    {
        <a href="/Product/@Product.Id" class="d-flex flex-column h-100">
                <div class="card">
                <img class="img-thumbnail product-image" src="@Product.ImageURL" />
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            @Product.Name
                        </h5>
                        <p class="card-text">
                            <b>@Product.Price.ToString("C")</b>
                        </p>
                        <AddToCartButton Product="Product"/>
                    </div>
                </div>  
        </a>
    }
    else
    {
        <p>Produkten är inte tillgänglig</p>
    }
</div>

@code{
    [Parameter]
    public Product? Product { get; set; }
}