@inject NavigationManager navigationManager
@inject ShoppingCartService shoppingCartService


    <div class="col-md-3 mb-2">
    @if (Product is not null)
    {
        <a href="/Product/@Product.Id">
                <div class="card">
                    <img class="img-thumbnail" src="@Product.ImageURL" />
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            @Product.Name
                        </h5>
                        <p class="card-text">
                            <b>@Product.Price.ToString("C")</b>
                        </p>
                        <AddToCartButton Product="Product"/>
                    </div>
                </div>
        </a>
    }
    else
    {
        <p>Produkten är inte tillgänglig</p>
    }
</div>

@code{
    [Parameter]
    public Product? Product { get; set; }

    private List<Product> _cart = new List<Product>();
}